@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1550px;
}

.hero-img-container-layer {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(45, 45, 45, 0) 0%,
    rgba(45, 45, 45, 1) 80%
  );
}
